:root {
  --main-background: #b9540c;
  --font-family: "Montserrat", sans-serif;
  color: #fff;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background-color: var(--main-background);
  font-family: var(--font-family);
}

header {
  text-align: center;
}

.main-title {
  text-align: center;
}

.character-card {
  width: 250px;
  height: 340px;
  flex-direction: row;
  display: inline-flex;
  margin: 0 30px;
  box-shadow: 0 2px 4px #333;
  border-radius: 3%;
}
