:root {
  --main-background: #b9540c;
  --font-family: "Montserrat", sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background-color: var(--main-background);
  font-family: var(--font-family);
}

.main-title {
  text-align: center;
}

.main-container {
  display: flex;
  gap: 60px;
}

.character-card {
  width: 250px;
  height: 340px;
  flex-direction: column;
  display: inline-flex;
  gap: 20px;
}
